
node_modules/
dist/
.angular/
www/
.env
.env.*
src/environments/environment.prod.ts

platforms/
plugins/
*.apk
*.ipa
*.idsm
.sourcemaps/

.directory
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
ehthumbs.db

.vscode/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

.gradle-bin