<ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <ion-title>
            {{ title }}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
    <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100%;">
        <ion-icon name="checkmark-done-circle" color="success" style="font-size: 64px;"></ion-icon>
        <h2 style="font-weight: 600; margin-top: 16px;">Hola Mundo tittle</h2>
        <p style="color: var(--ion-color-medium); text-align: center;">
            Hola mundo
        </p>
    </div>
</ion-content>